body{
    background-color: pink;
}

p{
    column-count: 3;
    column-gap: 40px;
    column-rule: 2px solid;
    column-rule-color: red;
}

h1:hover{
    color:blue;
} 

p::selection{
    color:blueviolet;
    background-color: brown;
}